<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    <title>Championship Manager</title>
</head>

<body>
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/championship">Championships</a></li>
        {% if session.get("logged") %}
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        {% endif %}
        
    </ul>
    <hr>
    {% block content %}{% endblock %}
</body>

</html>
