{% extends "base.html" %}

{% block content %}

{% if message %}
<div style="color:red">{{message}}</div><br>
{% endif %}

<form id="players" action="/login" method="POST">
    <div>Name: <input type="text" name="name"></div>
    <div>Password: <input type="password" name="password" password></div>

    <br><input type="submit" value="Login">
</form>


<form id="create_account" action="/create_acc" method="POST">
    <div>Name: <input type="text" name="name" required></div>
    <div>Password: <input type="password" name="password" password required></div>
    <div hidden>Email: <input type="email" name="email"></div>

    <br><input type="submit" value="Create Account">
</form>

{% endblock %}