{% extends "base.html" %}

{% block content %}

<script src="{{ url_for('static',filename='js/new_champ.js') }}"></script>

Championship type:
<select name="type" form="players">
    <option value="Swiss">Swiss</option>
    <option value="SingleElimination">Single Elimination</option>
</select><br>

<button onclick="add_player()">Add Player</button>
<div id="player_num">Number of players: 0</div><br>

<form id="players" action="/create_champ" method="POST">
    <div id="new_players"></div>

    <br><input type="submit" value="Start Championship">
</form>


<div id="player_stuff" style="display: none">
    Player name: <input name="player_" type="text" required> Player number: <input name="num_" type="number">
    <br>
</div>

<script>add_player()</script>

{% endblock %}